.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: rem(32) 0;
  background-color: $grey66;
  text-align: center;
  color: $white;
  font-size: rem(11);
  line-height: rem(13);
  border-top: 2px solid $blued8;
  margin-top: rem(48);
}

.footer2 {
  display: flex;
  flex-direction: column;
  gap: 15.56px;
  box-sizing: border-box;
  background-color: $primary3;
  height: rem(108);
  border-top: 2px solid $primary1;

  padding: rem(31) 0 rem(32.44);

  color: #fff;

  p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }

  ul {
    display: flex;
    gap: 25px;
    text-align: center;
    justify-content: center;

    li {
      position: relative;
    }
    li:not(:last-of-type):after {
      position: absolute;
      content: "";
      width: 1px;
      top: 0;
      bottom: 0;
      right: -12px;

      background: #ffffff;
      opacity: 0.2;
    }
  }
}
