.subtitle {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid $line3;
  height: rem(45);

  &__total {
    @include typo16();

    color: $text-dark;
  }
  &__btns {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    width: rem(100);
    height: rem(32);
  }
}
