@import "../abstracts/palette";

$primary1: $blued8;
$primary2: $yellowd8;
$primary3: $grey66;

// text
$text-normal: $grey4b;
$text-light: $greyc9;
$text-dark: $grey21;

// background
$bg-color1: $greyfa;
$bg-color2: $white;

// semantic
$warning: $redf9;

// border
$line1: $greyea;
$line2: $greyd7;
$line3: $grey99;
