$blued8: #1d4ed8;
$yellowd8: #d8b98b;

$grey66: #666;
$grey4b: #4b4b4b;
$greyc9: #c9c9c9;
$grey21: #212121;
$greyfa: #fafafa;
$greyea: #eaeaea;
$greyd7: #d7d7d7;
$grey99: #999;

$redf9: #f93232;

$white: #fff;
$black: #000;
